<!doctype html>
<html lang="pt-BR">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>SisExtensão</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous" />
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css" />
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</head>
<body style="background-color: #ecf0f1;">
  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="border-bottom: 1px solid rgba(0,0,0,0.1);">
    <a class="navbar-brand" href="{% url 'editais' %}">Sis<strong><em>Extensão</em></strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'editais' %}">Editais</a>
        </li>
        {% if request.user.is_authenticated %}
          {% if request.user.is_staff %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'alunos' %}">Alunos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'inscricoes' %}">Inscrições</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'inscricoes/aluno' %}">Minhas Inscrições</a>
            </li>
          {% endif %}
        {% endif %}
      </ul>
      <form class="my-3 my-lg-0">
        {% if request.user.is_authenticated %}
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{request.user.username}}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% if request.user.is_staff == False %}
                <a class="dropdown-item" href="{% url 'alunos' %}">Meus dados</a>
                <div class="dropdown-divider"></div>
              {% endif %}
              <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
            </div>
          </li>
        </ul>
        {% else %}
          <a class="btn btn-outline-info my-1 my-sm-0" href="{% url 'login' %}">Login</a>
          <span>|</span>
          <a class="btn btn-outline-success my-1 my-sm-0" href="{% url 'registrar' %}">Registrar</a>
        {% endif %}
      </form>
    </div>
  </nav>

  <div class="container">
    {% block content %}
    {% endblock %}
  </div>

  <script src="https://dms-space.ams3.digitaloceanspaces.com/web-assets/projetoextensao/static/js/custom-search.js"></script>
</body>
</html>
